<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>446504650271-4p799v09gvepaai2qvurtl2jkdk853qh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.446504650271-4p799v09gvepaai2qvurtl2jkdk853qh</string>
	<key>API_KEY</key>
	<string>AIzaSyCb2pW8PcFLTaqHY5nzETBhmWze6g5mdFQ</string>
	<key>GCM_SENDER_ID</key>
	<string>446504650271</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pawtential.ios</string>
	<key>PROJECT_ID</key>
	<string>pawtential-d1b22</string>
	<key>STORAGE_BUCKET</key>
	<string>pawtential-d1b22.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:446504650271:ios:4d74b3ad3f00c05b4cf72a</string>
</dict>
</plist>